body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* My solution! */

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.header {
  font-weight: 900;
  padding-left: 16px;
}

.header {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
  align-items: stretch;
}

.card {
  padding: 16px;
  width: 300px;
  display: flex;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  flex-basis: 400px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  margin: 0 auto 0 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
  font-size: 30px;
}